.navigation{
  background-color: #8888e3;
  padding: 1rem;
  margin: 1rem auto;
  width: 85%;
  border-radius: 1rem;
}
a{
  color: #8888e3;
  background-color: #ffffff;
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

li{
  list-style: none;
}

 a:hover{
   background-color: #6161ba;
   color: #ffffff;
}

ul{
  display: flex;
  justify-content: space-evenly;
}
