<h1>Halli Hallo</h1>
<h2>{{ title | uppercase }}</h2>

@if (showText) {
  <button (click)="showTexts()"> Drop Text </button>

  @if (toggle) {
    <button (click)="showBool()"> No Box </button>
  } @else {
    <button (click)="showBool()"> Show Box </button>
  }
} @else{
  <button (click)="showTexts()"> Show Text </button>
}

@if (showText) {
  <div class="flex">
    @for (text of texts(); track $index) {
      @if (toggle) {
        <app-text-box [text]="text"></app-text-box>
      }
      @else{
      <p>{{ text }}</p>
      }
    }
  </div>
} @else {
  <p>Sorry kein text</p>
}





