

<h1>Beitrag erstellen</h1>
  <form class="form" (ngSubmit)="onSubmit(post)" #postForm="ngForm">

    <label for="title">Titel</label>
    <input
      type="text"
      id="title"
      name="title"
      [(ngModel)]="post.title"
      class="form-field"
      required
    />
    <label id="content">Inhalt</label>
    <textarea rows="8"
    [(ngModel)]="post.content"
    name="content"
    id="content"
    class="form-field">

    </textarea>
    <label>Veröffentlichungsstatus</label>
      <fieldset class="form-field">
        <label>Veröffentlicht</label>
        <input [(ngModel)]="post.published" type="radio" [value]="true" name="state" />
        <label>Unveröffentlicht</label>
        <input [(ngModel)]="post.published" type="radio" name="state" [value]="false" checked/>
      </fieldset>

    <label for="date">Datum </label>
    <input type="date"
    [(ngModel)]="post.date"
    name="date"
    id="date"
    required
    class="form-field"
    />
    <label for="author"> Autor</label>
      <select [(ngModel)]="post.author" name="author" id="author" class="form-field">
        @for (author of authors(); track $index) {
          <option>{{ author }}</option>
        }
      </select>

    <button type="submit">Erstellen</button>

    @if (postForm.submitted && postForm.invalid) {
      <p style="color: red">Form is invalid</p>
    }

    @if (postForm.submitted && postForm.valid) {
      <p style="color: green">Form is valid</p>
    }
  </form>

