<div class="blog-header">
  <h2 class="blog-header-content">Alle Likes: </h2>
  <h2 class="blog-header-number">{{ allLikes() }}</h2>
  <h2 class="blog-header-content">Beliebtester Post (id): </h2>
  <h2 class="blog-header-number">{{ mostLikedPost() }}</h2>
</div>
<div class="blog-container">

  @for (blogPosts of posts(); track blogPosts.id) {
    <div class="blog-detail">
      <div class="post" [class.post-most-liked]="blogPosts.id === mostLikedPost()">
      <h3>{{ blogPosts.title }}</h3>
      <p>{{ blogPosts.likes }}</p>
      <p>By: {{ blogPosts.author }}</p>
     <a routerLink="/blog/detail/{{blogPosts.id}}"><button [class.button-most-liked]="blogPosts.id === mostLikedPost()">zum Post</button></a></div>

    </div>
  }


</div>



